{% extends 'Emily/base.html' %}
{% block title %}Emily{% endblock %}
{% load staticfiles %}

{% block body %}

<div class="container">
<div class="col-md-6 col-md-offset-3">

        <div class="jumbotron">
  <h1 class="display-3">Hello</h1>
  <p class="lead">Emily is a friendly person who can help You.</p>
  <hr class="my-2">
  <p></p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'Emily:index' %}" role="button">Start conversation</a>
  </p>
</div>

</div>
</div>


{% endblock %}